<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
       EmoTer
    </h1>
    <form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Text Here</p>
		<textarea name="message" rows="6" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>
	<form action="{{ url_for('suggest')}}" method="POST">
		<br/>
		<input type="submit" class="btn-info" value="suggest">
		
	</form>

	<script>
		function signup(){
			document.getElementById('signup').style.display = "block"
			
		}
		function login(){
			document.getElementById('login').style.display="block"
		}
	</script>

    <form action="#">
			<input type="button" class="btn-info" value="Signup" onclick="signup()">
			<div id="signup" style="display:none">
			
                        <div class="field input-field" >
                            <input type="email" placeholder="Email" class="input">
                        </div>

                        <div class="field input-field" >
                            <input type="password" placeholder="Create password" class="password">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Confirm password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="field button-field" >
                            <button>Signup</button>
                        </div>
			</div>

	</form>

	<form action="#">
		<input type="button" class="btn-info" value="Login" onclick="login()">
		<div id="login" style="display:none">
			<div class="field input-field">
			<input type="email" placeholder="Email" class="input">
			</div>

			<div class="field input-field">
			<input type="password" placeholder="Password" class="password">
			<i class='bx bx-hide eye-icon'></i>
			</div>

			<div class="form-link">
				<a href="#" class="forgot-pass">Forgot password?</a>
			</div>

			<div class="field button-field">
				<button>Login</button>
			</div>
		</div>
	</form>

			


    

	

</body>
</html>