<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
       EmoTer
    </h1>
    <form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Text Here</p>
		<textarea name="message" rows="6" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>
	<form action="{{ url_for('suggest')}}" method="POST">
		<br/>
		<input type="submit" class="btn-info" value="suggest">
		
	</form>
</body>
</html>